<!DOCTYPE html>
<html lang="en" class=" is-copy-enabled">
<head>
	<meta charset='utf-8'>
	<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.1.3"></script>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.geom.js?2.1.3"></script>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.layout.js?2.1.3"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<style type="text/css">
        .slice text {
            font-size: 16pt;
            font-family: Arial;
        }   
    </style>
</head>

<body>
	<div id="app">
		<h3>Offensivity Statistics:</h3><br>
		<div id="pie-chart"></div>
  		<div>
	  		Input text: 
	  		<textarea v-model="tweet" rows="5" cols="80" name="tweet">
				Tweet
			</textarea>
			<br/>
			<button v-on:click="analyze">Analyse</button>
			
 		</div>
		<div v-for="(info,key) in infos.slice().reverse()">
			<h5>Tweet Nr. {{ infos.length - key }}</h5>
			<p style="white-space: pre-line;">{{ info.input }}</p>
			<p v-for="sentiment in info.sentiments">{{ sentiment }}</p>
			<hr>
		</div>
		
	</div>
	<script>
	var vm = new Vue({
		  el: '#app',
		  data: {
			  tweet: 'Tweet',
			  infos: []
		  },
		  // define methods under the `methods` object
		  methods: {
		    analyze: function (event) {
		    	axios
		    	  .get('http://localhost:8080/sentiments',{params: {tweet: this.tweet, format: "json"}})
		    	  .then(response => (this.infos.push(response.data)))
		    }
		  }
		})	
	</script>
	<script>
    var 
    offensive = 0,
    notOffensive = 0,
    w = 300,                        //width
    h = 300,                            //height
    r = 100,                            //radius
    color = d3.scale.category20c();     //builtin range of colors

	axios
	  	.get('http://localhost:8080/sentiment/offensivityStatistics')
		.then(response => (offensive = response.data.offensive, notOffensive = 100 - offensive, drawPieChart()));
    
   
    drawPieChart = function () {
        
    	data = [{"label":"offensive", "value": offensive}, 
            	{"label":"not offensive", "value": notOffensive}];
        
        var vis = d3.select("#pie-chart")
        .append("svg:svg")              //create the SVG element inside the <div id="pie-chart">
        .data([data])                   //associate our data with the document
            .attr("width", w)           //set the width and height of our visualization (these will be attributes of the <svg> tag
            .attr("height", h)
        .append("svg:g")                //make a group to hold our pie chart
            .attr("transform", "translate(" + r + "," + r + ")");    //move the center of the pie chart from 0, 0 to radius, radius

	    var arc = d3.svg.arc()              //this will create <path> elements for us using arc data
	        .outerRadius(r);
	
	    var pie = d3.layout.pie()           //this will create arc data for us given a list of values
	        .value(function(d) { return d.value; });    //we must tell it out to access the value of each element in our data array
	
	    var arcs = vis.selectAll("g.slice")     //this selects all <g> elements with class slice (there aren't any yet)
	        .data(pie)                          //associate the generated pie data (an array of arcs, each having startAngle, endAngle and value properties) 
	        .enter()                            //this will create <g> elements for every "extra" data element that should be associated with a selection. The result is creating a <g> for every object in the data array
	            .append("svg:g")                //create a group to hold each slice (we will have a <path> and a <text> element associated with each slice)
	                .attr("class", "slice");    //allow us to style things in the slices (like text)
	
	        arcs.append("svg:path")
	                .attr("fill", function(d, i) { return color(i); } ) //set the color for each slice to be chosen from the color function defined above
	                .attr("d", arc);                                    //this creates the actual SVG path using the associated data (pie) with the arc drawing function
	
	        arcs.append("svg:text")                                     //add a label to each slice
	                .attr("transform", function(d) {                    //set the label's origin to the center of the arc
	                //we have to make sure to set these before calling arc.centroid
	                d.innerRadius = 0;
	                d.outerRadius = r;
	                return "translate(" + arc.centroid(d) + ")";        //this gives us a pair of coordinates like [50, 50]
	            })
	            .attr("text-anchor", "middle")                          //center the text on it's origin
	            .text(function(d, i) { return data[i].label; });        //get the label from our original data array
	        
    }

    </script>
</body>
