*{
  font-family: Montserrat, sans-serif;
  text-shadow: 0 0px 0;
}

* :hover{
  text-shadow: 0 0px 0;
}

body{
  background-color: #333;
  color: #fff;
}

.main{
  text-align: center;
}

select{
  padding: 1px 0px;
  min-width: 150px;
}

textarea{
  max-width: 600px;
}

.offensive{
  color: rgb(255, 99, 132)
}

.nonOffensive{
  color: rgb(0,255,0)
}

.btn:focus{
  box-shadow: none;
}
.checkbox label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 15%;
}

.checkbox label input[type="checkbox"] {
  display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon {
  opacity: 0;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr {
  opacity: .5;
}

.navbar{
  background-color: #222;
}

.navbar-brand{
  color: #fff;
  letter-spacing: 0.2px;
}

.bold{
  font-weight: bold;
}

.red{
  color: #fd3335;
}

.green{
  color: #6f9d3c;
}

.nav-item{
  color: #fff;
}

a{
  color: #fff;
}

a:hover {
  color: #aaa;
  text-decoration: none;
}

.counter{
  font-size: 2.5em;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.twitter-tweet{
  text-align: center;
  margin: auto;
}

h5{
  margin: 16px 0px;
}



.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  width: calc(100% - 6rem);
  height: calc(100% - 6rem);
  position: relative;
  margin: 3rem;
  padding: 3rem;
  background: #fff;
  color: #000;
}

.modal-window header {
  font-weight: bold;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
  color: #000;
}

.modal-close:hover {
  color: #666;
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.about-content{
  max-width: 45rem;
}
